.wrapper {
  min-height: 411px;
  background: var(--wrapper);
  display: grid;
  grid-template-rows: repeat(2, 198px);
  grid-template-columns: minmax(min-content, 390px) minmax(min-content, 590px) minmax(min-content, 160px);
  gap: 15px;
  counter-reset: blocks;
  padding: 0;
  margin: 15px auto;
  list-style: none;
}