:root {
  --head: #7faff7;
  --background: #c0dbd9;
  --wrapper: #b3f95a;
  --wrapperFrame: #8ad191;
  --blocks: #88b5bf;
  --frameBlocks: #0d89b0;
  --button: #A5C7F9;
  --white: #fff;
  --close: #7FAFF6;
  --textPopup: #000;
}
